body {
    margin: 0;
}

.bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bg::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
    background-image: url(img/ringbg.jpg);
    background-size: cover;
}


/***********general classes**************/

.d-flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

.bg-green {
    background-color: rgba(0, 200, 0, 0.5) !important;
}

.bg-red {
    background-color: rgba(200, 0, 0, 0.5) !important;
}


/****************question card****************/

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-footer img {
    cursor: pointer;
}

.card-title {
    margin-bottom: 20px;
    text-align: center;
}

.card {
    max-width: 653px;
    background-color: transparent;
    color: red;
    border: 2px solid black;
    text-align: center;
}

.q-container {
    min-width: 650px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bg-container {
    position: relative;
    background-color: rgba(50, 50, 50, 0.6);
    border: 4px solid black !important;
}

.categoriesCont {
    display: flex;
    justify-content: center;
}

.category {
    width: 16px;
    padding-right: 2px;
}

.category img {
    width: 100%;
}

.categories {
    display: block;
    position: relative;
}

.answer {
    font-size: 17px;
}

.answer:hover {
    background-color: rgba(255, 215, 0, 0.3);
}

.btn-danger {
    background-color: red;
}


/*********Media***************/

@media (max-width: 767px) {
    .categoriesCont {
        border-bottom: 2px solid rgb(255, 215, 0, 0.4);
    }
}