body {
    margin: 0;
}

.bg {
    background-image: url(img/ringbg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.question-footer {
    display: flex;
    justify-content: space-between;
}

.question-footer img {
    cursor: pointer;
}

.card {
    max-width: 900px;
}